<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Icons</h3>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<div class="container-fluid mt--7">

  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 *ngIf="mode==1" class="mb-0">Visualización</h3>
          <h3 *ngIf="mode==2" class="mb-0">Crear</h3>
          <h3 *ngIf="mode==3" class="mb-0">Actualizar</h3>
        </div>
        <div class="card-body">

          <form class="form" [formGroup]="theFormGroup">
            <div class="container">
              <div class="row">
                <div class="col-4">
                  Id:
                </div>
                <div class="col-8">
                  {{administrator.id}}
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  Nombre:
                </div>
                <div class="col-8">
                  <input type="text" class="from-control" [(ngModel)]="administrator.name"
                         [disabled]="mode==1" formController="name">
                  <div
                    *ngIf="getTheFormGroup.location.errors && (getTheFormGroup.location.dirty || getTheFormGroup.location.touched)">
                    <strong *ngIf="getTheFormGroup.location.errors.required"
                            class="msnError">Requerido</strong>
                    <strong *ngIf="getTheFormGroup.location.errors.minlength"
                            class="msnError">Invalido</strong>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  Apellido:
                </div>
                <div class="col-8">
                  <input type="text" class="from-control" [(ngModel)]="administrator.lastName"
                         [disabled]="mode==1" formController="lastName">
                  <div
                    *ngIf="getTheFormGroup.location.errors && (getTheFormGroup.location.dirty || getTheFormGroup.location.touched || trySend)">
                    <strong *ngIf="getTheFormGroup.location.errors.required" class="msnError">Requerido</strong>
                    <strong *ngIf="getTheFormGroup.location.errors.minlength" class="msnError">Requerido</strong>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  email:
                </div>
                <div class="col-8">
                  <input type="text" class="from-control" [(ngModel)]="administrator.email"
                         [disabled]="mode==1" formController="email">
                  <div
                    *ngIf="getTheFormGroup.location.errors && (getTheFormGroup.location.dirty || getTheFormGroup.location.touched || trySend)">
                    <strong *ngIf="getTheFormGroup.location.errors.required" class="msnError">Requerido</strong>
                    <strong *ngIf="getTheFormGroup.location.errors.minlength" class="msnError">Requerido</strong>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  Contraseña:
                </div>
                <div class="col-8">
                  <input type="text" class="from-control" [(ngModel)]="administrator.password"
                         [disabled]="mode==1" formController="password">
                  <div
                    *ngIf="getTheFormGroup.location.errors && (getTheFormGroup.location.dirty || getTheFormGroup.location.touched || trySend)">
                    <strong *ngIf="getTheFormGroup.location.errors.required" class="msnError">Requerido</strong>
                    <strong *ngIf="getTheFormGroup.location.errors.minlength" class="msnError">Requerido</strong>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  Número de teléfono:
                </div>
                <div class="col-8">
                  <input type="text" class="from-control" [(ngModel)]="administrator.number"
                         [disabled]="mode==1" formController="number">
                  <div
                    *ngIf="getTheFormGroup.location.errors && (getTheFormGroup.location.dirty || getTheFormGroup.location.touched || trySend)">
                    <strong *ngIf="getTheFormGroup.location.errors.required" class="msnError">Requerido</strong>
                    <strong *ngIf="getTheFormGroup.location.errors.minlength" class="msnError">Requerido</strong>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4"></div>
                <div class="col-8">
                  <button *ngIf="mode==2" class="btn btn-primary btn-block"
                          (click)="create()">Crear</button>
                  <button *ngIf="mode==3" class="btn btn-primary btn-block"
                          (click)="update()">Actualizar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
-->
